<div class="container">

  <form [formGroup]="pessoaForm">

    <h1 class="title">Cadastro de Pessoas</h1>

    <mat-form-field>
      <mat-label>Nome</mat-label>
      <input matInput formControlName="nome" name="nome" autofocus>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Telefone</mat-label>
      <input matInput formControlName="telefone" name="telefone">
    </mat-form-field>

    <div class="actions">
      <button mat-button (click)="this.pessoaForm.reset()">Limpar</button>
      <button mat-raised-button (click)="this.gravarPessoa()" color="primary"
        [disabled]="pessoaForm.invalid">Gravar</button>
    </div>
  </form>

  <div class="tabela">

    <mat-form-field>
      <mat-label>Buscar</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Filtro da pesquisa" #input>
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

      <!-- ID -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Nome -->
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
        <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
      </ng-container>

      <!--Telefone -->
      <ng-container matColumnDef="telefone">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Telefone </th>
        <td mat-cell *matCellDef="let element"> {{element.telefone}} </td>
      </ng-container>

      <!-- excluir-->
      <ng-container matColumnDef="excluir">
        <th mat-header-cell *matHeaderCellDef>Excluir</th>
        <td mat-cell *matCellDef="let element; let i = index;">
          <button mat-mini-fab color="primary" (click)="excluirPessoa(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
